*{
	font-family: 'Poppins', sans-serif;
	color: #ECEFF1;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: rgb(174,25,244);
background: linear-gradient(125deg, rgba(174,25,244,1) 0%, rgba(220,0,255,1) 50%, rgba(255,31,101,1) 100%);
}
.container{
	width: 70vw;
	height: 100vh;
	margin:auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.container .listado{
	width: 100%;
}
.listado .cancion{
	padding: 1rem 2rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.titulo{
	flex:6;
	
}
.play, .stop, .download{
	flex: 1;
	cursor: pointer;
	
}
.volumen{
	background:  #212121
}
.title{
	text-align: center;
	margin-bottom: 6rem;
}
input[type="range"] {
	-webkit-appearance: none;
	height: 7px;
	border-radius: 5px;
	background:#212121
  }
  
  input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: #fafafa;
	cursor: ew-resize;
	box-shadow: 0 0 2px 0 #555;
	transition: background .3s ease-in-out;
  }
  
  input[type=range]::-webkit-slider-runnable-track  {
	-webkit-appearance: none;
	box-shadow: none;
	border: none;
	background: transparent;
  }